/*Fonts*/

@font-face {
  font-family: sans-serif;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: sans-serif;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: sans-serif;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: sans-serif;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
       font-weight: 300;
       font-style: normal;

}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-extra-dark: #363636;
  --basic-dark: #464646;
  --basic-neutral: #7e7e7e;
  --basic-extra-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-dark: #f0c52e;
  --special-light: #f7e296;
  --special: #91c92f;

  --status: #f6dada;
}

body{
  color: var(--basic-white);
}
