/*Fonts*/

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-neutral: #7e7e7e;
  --basic-extra-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-dark: #f0c52e;
  --special-light: #f7e296;
  --special: #91c92f;

  --status: #f6dada;
}

/*Global*/

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: var(--special-dark);
  background-size: 260px 8px;
  border: 0;
}

/*Header*/

.main-header {
  background-color: var(--special-light);
}

.search__search-field{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.user-nav {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-nav {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*main*/

.slider-page__title, .main-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-page__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.features-item__desc {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.features-item__title {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.categories__categories-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.service-delivery__title{
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-delivery__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.main-bottom-item__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.main-bottom-item__text{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.main-bottom-item__list {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.breadcrumbs {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.breadcrumbs__item {
  opacity: 0.3;
}

.filter__title, .sorting__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__subtitle {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.min-price, .max-price {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter__item {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.sorting__item{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting__item--active {
  opacity: 1;
}

.product__compare {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.product__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination__item {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination__item--inactive {
  opacity: 0.3;
}

/*footer*/

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.user-nav--footer {
  opacity: 0.7;
}

.main-footer__address {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-footer__tel {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
