/*Fonts*/

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  /*font-weight: 300;*/
  /*font-style: normal;*/
}

/*@font-face {*/
/*  font-family: "Gilroy";*/
/*  src: local("Gilroy"),*/
/*       url("../fonts/gilroyextrabold.woff2") format("woff2"),*/
/*       url("../fonts/gilroyextrabold.woff") format("woff");*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*}*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  /*font-weight: 400;*/
  /*font-style: normal;*/
}

/*@font-face {*/
/*  font-family: "OpenSans";*/
/*  src: url("../fonts/opensanslight.woff2") format("woff2"),*/
/*       url("../fonts/opensanslight.woff") format("woff");*/
/*  font-weight: 300;*/
/*  font-style: normal;*/
/*}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Variables*/

:root {
  /*Colors*/
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-gray: #464646;
  --basic-neutral: #7e7e7e;
  --basic-extra-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-dark: #f0c52e;
  --special-light: #f7e296;
  --special: #91c92f;

  --status: #f6dada;

  /*Fonts*/

  --opensans: "Open Sans", "Arial", sans-serif;
  --gilroy: "Gilroy", "Arial", sans-serif;
}

/*Global*/

html {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  font-family: var(--gilroy);
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: inherit;
}

/*ul {
  list-style-type: none;
  !*padding-inline-start: 0;*!
}*/

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: var(--special-dark);
  background-size: 260px 8px;
  border: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/*Header*/

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 60px;
  background: linear-gradient(transparent 20px, var(--special-light) 20px);
}

.main-header__logo {
  grid-column: 1 / -1;
}

.search__search-field{
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}

.main-nav {
  grid-column: 1 / -1;
  padding: 0;


  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  list-style-type: none;
}

/*main*/

.slider {
  /*background: linear-gradient(var(--special-light) 114px, (transparent 144px);*/
  background: linear-gradient(var(--special-light) 146px, transparent 146px);
}

.slider__slider-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-page__img {
  grid-row: 1 / 5;
  justify-self: center;
  align-self: end;
}

.slider-page__title, .main-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider-page__text {
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.features-item__desc {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.features-item__title {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  list-style-type: none;
}

.categories__-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 160px;
}

.categories__-item:nth-child(4){
  letter-spacing: normal;
}

.services {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.services__list {
  grid-row: 1 / 3;
  align-self: center;
  list-style-type: none;
}

.service-delivery__title{
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-delivery__text {
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.brands {
  display: flex;
  justify-content: space-between;
}

.main-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-bottom-item__title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.main-bottom-item__text{
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.main-bottom-item__list {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.catalog-main {
  display: grid;
  grid-template-columns: auto 400px 760px auto;
  justify-items: center;

}

.main-title--catalog-page {
  grid-column: 2 / 4;
  justify-self: start;
}

.breadcrumbs {
  grid-column: 2 / 4;
  justify-self: start;
  display: flex;
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  list-style-type: none;
}

.breadcrumbs__item {
  opacity: 0.3;
}

.filter {
  grid-row: 3 / 5;
  grid-column: 2;
  background-color: var(--basic-extra-light);
}

.filter__title, .sorting__title {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter__subtitle {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.min-price, .max-price {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter__list {
  list-style-type: none;
}

.filter__item {
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
}

.sorting {
  grid-column: 2 / 4;
  grid-row: 2;
  display: flex;
}

.sorting__list {
  list-style-type: none;
}

.sorting__item{
  font-family: var(--opensans);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  list-style-type: none;
}

.sorting__item--active {
  opacity: 1;
}

.catalog {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product__compare {
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.product__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.pagination {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagination__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.pagination__item {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination__item--active, .pagination__item--prev, .pagination__item--next {
  opacity: 1;
}

/*footer*/

.main-footer {

  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-nav--footer {
  opacity: 0.7;
  grid-column: 3 / 4;
  justify-self: end;
  list-style-type: none;
}

.main-footer__address {
  justify-self: start;
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.main-nav--footer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main-footer__tel {
  justify-self: end;
  font-family: var(--opensans);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}
